<!-- <div class="cli-header">
  <div (click)="openMobileMenu()" class="header-icon">
    <mat-icon>menu</mat-icon>
  </div>

  <div class="logoheader">
    <img
      class="hlogo"
      src="../../../assets/images/logos/cardano-white.svg"
    />
    <div class="logo-let">
      <div style="font-weight: bold">Web. Procesos</div>
    </div>
  </div>

  <div style="flex: 1 1 auto"></div>
  <div class="personname">{{ fullName | uppercase }}</div>
  <app-user-section
    [nameini]="userAbbreviation"
    class="user-bag"
  ></app-user-section>
  <mat-icon class="menu-icon-header" [matMenuTriggerFor]="menu"
    >keyboard_arrow_down
  </mat-icon>

  <mat-menu class="mat-menu-header" #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span class="userName">{{ fullName | uppercase }}</span>
    </button>
    <button mat-menu-item (click)="logout()" class="btn-header">
      <mat-icon>close</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>
</div>

<app-menu-mobile></app-menu-mobile>
 -->

<div class="cli-header">
  <div (click)="openMobileMenu()" class="header-icon">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="logoheader">
    <img class="hlogo" src="../../../assets/images/logos/cardano-white.svg" />
    <div class="logo-let">
      <div class="bold c-male">Web</div>
      <div style="font-weight: bold">Personas</div>
    </div>
  </div>
  <div class="header-nav-items"></div>
  <div class="row">
    <div class="personname">{{ fullName | uppercase }}</div>
  </div>
  <app-user-section [photouri]="phtouri" [nameini]="nameini"></app-user-section>

  <button (click)="logOut()" class="cli-btn btn-magenta mt-3" style="margin-right: 20px">
    <mat-icon class="icon-18">logout</mat-icon>
    Salir
  </button>
</div>

<app-menu-mobile></app-menu-mobile>
