<!-- <div class="cli-card fit-card">
  <div class="cli-card-body">
    <div class="cli-title-center c-male">Asignar permisos</div> -->

<!-- BUSCADOR GLOBAL -->
<div class="cli-card">
  <div class="cli-card-body">
    <div class="cli-title-center c-male">Filtros de búsqueda</div>
    <div>

      <app-search-bandeja></app-search-bandeja>
<br>
      <!-- TABLA DE REGISTRO -->

      <div style="display: flex">
        <div class="flex-1"></div>

        <div>
          <button class="cli-btn btn-magenta mb-2"
            type="button"
            (click)="crearPermisos()"
          ><mat-icon class="icon-18">add</mat-icon>Crear permisos
          </button>
        </div>
      </div>

      <!-- <div class="cli-title-center c-male">Detalle nuevo Proyecto</div> -->
      <table class="cli-table stripedtable underlinedtable">
        <thead>
          <tr class="bgc-blue c-white">
            <th>ID</th>
            <th>Nombre</th>
            <th>Código</th>
            <th>VP</th>
            <th>Gerencia Solicitante</th>
            <th>PO del Proyecto</th>
            <th>Responsable del pedido</th>
            <th>Gerencia beneficiaria</th>
            <th>Planner</th>
            <th>Controller Gerencia</th>
            <th>Controller Aprobación</th>
            <th>Tecnología</th>
            <th>Naturaleza</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>001</td>
            <td>RPA-PER-CAPL</td>
            <td>HISPAM-2201-1</td>
            <td>abc</td>
            <td>bnaa</td>
            <td>b</td>
            <td>c</td>
            <td>123</td>
            <td>ADG</td>
            <td>LP</td>
            <td>MA</td>
            <td>SI</td>
            <td>Contenido</td>
            <td>
              <div class="cli-table-actions">
                <button matTooltip="Editar"
                        class="icon-btn btn-trans c-green"
                        (click)="crearPermisos()"
                        >
                  <mat-icon class="icon-18">edit</mat-icon>
                </button>
                <button
                  matTooltip="Eliminar"
                  class="icon-btn btn-trans c-orange"
                >
                  <mat-icon class="icon-18">delete_forever</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- <tbody *ngIf="!loadingInbox">
              <tr *ngFor="let ib of inbox">
                  <td>{{ib.informer}}</td>
                  <td>REQ-{{ib.id}}: {{ib.position}}</td>
                  <td>{{ib.workstream}}</td>
                  <td>{{ib.flagnew?"Nueva":"Existente"}}</td>
                  <td>Aprobación en {{ib.filteraprob}}</td>
                  <td>
                      <div class="cli-table-actions">
                          <button (click)="showDetails(ib.id)"  matTooltip="Ver detalle" class="icon-btn btn-trans btn-trans c-green"> <mat-icon class="icon-18">visibility</mat-icon> </button>
                      </div>
                  </td>
              </tr>
          </tbody> -->
      </table>
      <div *ngIf="loadingInbox" class="cli-loader">
        <mat-spinner style="margin-left: 20px" diameter="20"></mat-spinner>
        Preparando...
      </div>
      <div *ngIf="loadingInbox && inbox.length == 0" class="cli-loader">
        Su bandeja está vacía
      </div>

        <!-- PAGINACIÓN -->
        <div *ngIf="loadingItem && data.length != 0" class="cli-pagination-container">
          <div class="cli-pagination-page">Página: </div>
          <button [disabled]="table_settings.page == 1" (click)="doPageChange(-1)" class="icon-btn btn-blue"> <mat-icon class="icon-20">chevron_left</mat-icon> </button>
          <div class="cli-pagination-page">
              {{table_settings.page}}
          </div>
          <button [disabled]="table_settings.page == table_settings.pages" (click)="doPageChange(1)" class="icon-btn btn-blue" style="margin-right: 10px;"> <mat-icon class="icon-20">chevron_right</mat-icon> </button>
          de
          <div style="margin-left: 10px;"> {{ table_settings.pages}} </div>
      </div>

    </div>

  </div>
</div>



<!-- </div>
</div> -->
