<div class="cli-card">
  <div class="cli-card-body">
    <div class="cli-title-center c-male">Solicitudes de cobertura vacantes</div>
    <div>
      <div class="cli-tablebar">
        <div class="cli-table-search">
          <input
            (keydown.enter)="callItemApi(true)"
            [(ngModel)]="searcher"
            type="text"
            placeholder="Buscar por nombre"
          />
          <mat-icon class="icon-20">search</mat-icon>
        </div>

        <!-- REFRESH -->
        <button
          (click)="callItemApi(true)"
          matTooltip="Refrescar"
          class="icon-btn btn-trans"
        >
          <mat-icon class="icon-20">refresh</mat-icon>
        </button>

        <!-- FILTRO USER -->
        <div class="h-divider"></div>

        <!-- STATUS -->
        <div class="flex-1"></div>
        <div>Alcance:</div>
        <div class="status-btn">
          <div class="typepicklist-btn" (click)="showPicklistType()">
            - {{ textvacType }} -
          </div>

          <div *ngIf="showTypepl" class="typepicklist-card">
            <div class="typepicklist" style="margin-left: 10px">
              <mat-checkbox [(ngModel)]="type.ext.value">Externa</mat-checkbox>
              <mat-checkbox [(ngModel)]="type.intlid.value"
                >Int. Líder</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="type.intci.value"
                >Int. CI</mat-checkbox
              >
              <mat-checkbox [(ngModel)]="type.mixta.value">Mixta</mat-checkbox>
            </div>
            <button (click)="applyfiltertype()" class="cli-btn btn-blue">
              Aplicar
            </button>

            <button
              (click)="cancelfiltertype()"
              class="icon-btn btn-trans c-female closefiltertype"
            >
              <mat-icon class="icon-18">close</mat-icon>
            </button>
          </div>
        </div>

        <div class="h-divider"></div>
        <div>Estado:</div>
        <div class="status-btn">
          <select
            class="cli-input"
            [(ngModel)]="vacStatus"
            (change)="callItemApi(true)"
          >
            <option value="0">Todos</option>
            <option value="1">Registrado</option>
            <option value="2">Aprobado en Organización</option>
            <option value="3">Aprobado en Comité</option>
            <option value="4">En Proceso</option>
            <option value="5">Finalizado</option>
            <option value="6">Rechazo en Organiazción</option>
            <option value="7">Rechazo en Comité</option>
            <option value="8">Validado en Captura de Valor</option>
            <option value="9">Rechazo en Captura de Valor</option>
          </select>
        </div>

        <!-- RESTAURAR -->
        <!-- <div class="h-divider"></div>
            <button  matTooltip="Deshacer filtros" class="icon-btn btn-trans"> <mat-icon class="icon-20">restore</mat-icon> </button> -->
      </div>

      <!-- TABLA -->
      <div style="overflow: auto; min-height: 300px">
        <table class="cli-table stripedtable underlinedtable">
          <thead>
            <tr class="bold c-white bgc-blue">
              <th>Código</th>
              <th>Nombre de posición</th>
              <th>N. Mando</th>
              <th>Datos organizativos</th>
              <th>Alcance</th>
              <th>Tipo</th>
              <th>Estado</th>
              <th>Estacion</th>
              <th>Informador</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="loadingItem">
            <tr *ngFor="let vac of datas; let i = index">
              <td>{{ vac.code }}</td>
              <td>{{ vac.displayed }}</td>
              <td>{{ vac.icon }}</td>
              <td>001</td>
              <td>001</td>
              <td>001</td>
              <td>001</td>
              <td>001</td>
              <td>001</td>
              <!-- <td>SOL-{{vac.id}}</td>
                        <td>{{vac.position}}</td>
                        <td>{{vac.command}}</td>
                        <td>{{vac.workstream}} - {{vac.ambit}} ({{vac.bu}})</td>
                        <td>
                            <div class="vac-type">{{vac.type?vac.type.nombre:'-'}}</div>
                        </td>
                        <td>{{vac.flagnew?"Nueva":"Existente"}}</td>
                        <td>
                            <div class="cli-table-actions">
                                <div [class]="vac.status.color + ' vac-status'">{{vac.status?vac.status.code:'-'}}</div>
                            </div>
                        </td>
                        <td>
                            <div class="cli-table-actions">
                                <div class="vac-station c-male">-</div>
                            </div>
                        </td>
                        <td> <span class="bold">{{vac.informer | firstCapital}}</span> el {{vac.createdat | date: "dd/MM/yy" }}</td> -->
              <td>
                <div class="cli-table-actions">
                  <button
                    (click)="showDetails(vac.id)"
                    matTooltip="Ver detalle"
                    class="icon-btn btn-trans btn-trans c-green"
                  >
                    <mat-icon class="icon-18">visibility</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="cli-loader" *ngIf="loadingItem">
          <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>
          cargando...
        </div>
        <div *ngIf="!loadingItem && data.length == 0" class="cli-loader">
          No hay elementos para mostrar
        </div>
      </div>

      <!-- PAGINACIÓN -->
      <div
        *ngIf="!loadingItem && data.length != 0"
        class="cli-pagination-container"
      >
        <div class="cli-pagination-page">Página:</div>
        <button
          [disabled]="table_settings.page == 1"
          (click)="doPageChange(-1)"
          class="icon-btn btn-blue"
        >
          <mat-icon class="icon-20">chevron_left</mat-icon>
        </button>
        <div class="cli-pagination-page">
          {{ table_settings.page }}
        </div>
        <button
          [disabled]="table_settings.page == table_settings.pages"
          (click)="doPageChange(1)"
          class="icon-btn btn-blue"
          style="margin-right: 10px"
        >
          <mat-icon class="icon-20">chevron_right</mat-icon>
        </button>
        de
        <div style="margin-left: 10px">{{ table_settings.pages }}</div>
      </div>
    </div>
  </div>
</div>
