// @import 'variables.scss';

.modal-title {
  font-size: 1.7rem;
  font-weight: 400;
  color: #00bec0;
  margin: 10px 0;
  text-align: center;
}

// ESTILOS MODAL LINEA IZQ
.pr-section{
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 10px;
  border-left: 2px solid #d3d3d4;
}

.pr-subtitle{
  font-size: 1rem;
  font-family: 'Webapp-Bold';
  color: #019df4;
}

.pr-module{
  &-container{
      margin: 5px 0;
      padding: 20px;
      border: dashed 1px #D3D4D3;
      border-radius: 2px;
  }
}

.newvac-wrapper{
  // min-height: 400px;
  border-radius: 3px;
  margin: 20px auto;
  padding: 20px;
  // border: solid 1px $color-grey-2;
}

.moda-close-btn {
  // position: absolute;
  top: -10px;
  right: -10px;
  z-index: 20;
}
