<button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
  <mat-icon>close</mat-icon>
</button>
<div class="modal-title">Crear iniciativa </div>

<div class="cli-form newvac-wrapper">
  <form class="row g-3" [formGroup]="iniciativaForm">
    <ng-container>
      <div class="col-sm-4 cli-form-element">
        <div class="form-group">
          <label>Nombre de Iniciativa</label>
          <input
            type="text"
            class="form-control cli-input-white"
            placeholder="RPA-"
            formControlName="nombre"
          />
        </div>
      </div>

      <div class="col-sm-4 cli-form-element">
        <label>Código de Iniciativa</label>
        <input
          type="text"
          class="form-control cli-input-white"
          placeholder=""
          formControlName="codigo"
        />
      </div>

      <div class="col-sm-4 cli-form-element">
        <label>PO del proyecto</label>
        <input
          type="text"
          class="form-control cli-input-white"
          formControlName="po_proyecto"
        />
      </div>

      <div class="col-sm-4 cli-form-element">
        <label>VP</label>
        <select
          class="cli-input-white"
          formControlName="vp"
        > <option [value]="0" disabled>-Seleccionar-</option>
          <option [value]="vp.id" *ngFor="let vp of listVP"> {{ vp.nombre }} </option>
        </select>
      </div>

      <div class="col-sm-4 cli-form-element">
        <label>Gerencia Solicitante</label>
        <select
          class="cli-input-white"
          formControlName="gerencia_solicitante">
          <option [value]="0" disabled>-Seleccionar-</option>
          <option [value]="gerenc.id" *ngFor="let gerenc of listGerencia">{{ gerenc.nombre }}</option>
        </select>
      </div>


      <div class="col-sm-4 cli-form-element">
        <label>Gerencia Beneficiaria</label>
        <select
          class="cli-input-white"
          formControlName="gerencia_beneficiaria"
        >
          <option [value]="0" disabled>-Seleccionar-</option>
          <option
            [value]="gerenc.id"
            *ngFor="let gerenc of listGerencia"
            >{{ gerenc.nombre }}
          </option>
        </select>
      </div>

      <div class="col-sm-4 cli-form-element">
        <label>Estado</label>
          <select
            class="cli-input-white"
            formControlName="estado"
          > <option [value]="0" disabled>-Seleccionar-</option>
            <option [value]="s.idEstado" *ngFor="let s of listEstados">{{ s.cNombre }}</option>
          </select>
      </div>

      <!-- <div class="col-sm-4 cli-form-element">
        <label>Controller Aprob. BC</label>
        <input
            type="text"
            class="form-control cli-input-white"
            formControlName="contAprBc"
          />
      </div> -->

      <div class="col-sm-4 cli-form-element">
        <label>Tecnología de Solución</label>
        <select
          class="cli-input-white"
          formControlName="tecnologia"
          >
          <option [value]="0" disabled>-Seleccionar-</option>
          <option [value]="tec.id" *ngFor="let tec of tecnologias">{{ tec.nombre }}</option>
        </select>
      </div>

      <div class="col-sm-4 cli-form-element">
        <label>Naturaleza del Beneficio</label>
        <select
          class="cli-input-white"
          formControlName="naturaleza"
          >
          <option [value]="0" disabled>-Seleccionar-</option>
          <option [value]="nat.id" *ngFor="let nat of naturaleza">
            {{ nat.nombre }}
          </option>
        </select>
      </div>
    </ng-container>

    <div class="cli-form-buttons" style="margin-top: 100px;">
      <button
        class="cli-btn btn-m btn-grey"
        type="submit"
        (click)="close()"
      ><mat-icon class="icon-18">cancel</mat-icon> Salir
      </button>
      <button
        class="cli-btn btn-m btn-magenta"
        (click)="crearIniciativa()"
      ><mat-icon class="icon-18">save</mat-icon> Registrar
      </button>
    </div>
  </form>
</div>
