.newvac-wrapper {
  // min-height: 400px;
  border-radius: 3px;
  max-width: 95%;
  margin: 10px auto;
  padding: 20px;
}

.modal-title {
  font-size: 1.7rem;
  font-weight: 400;
  color: #00bec0;
  margin: 10px 0;
  text-align: center;
}

.moda-close-btn {
  margin-left: 97%;
  top: -10px;
  right: -10px;
  z-index: 20;
}

.pr-section {
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 10px;
  border-left: 1px solid #019df4;
  // border-left: 2px solid #d3d3d4;
}

.pr-module {
  &-container {
    margin: 5px 0;
    padding: 20px;
    border: dashed 1px #d3d4d3;
    border-radius: 2px;
  }
}
.pr-subtitle {
  font-size: 1rem;
  font-family: "Webapp-Bold";
  color: #019df4;
}

@media (max-width: 850px) {
  .moda-close-btn {
    margin-left: 95%;
  }
}
