<button (click)="close()" class="icon-btn btn-trans c-orange">
  <mat-icon>close</mat-icon>
</button>

<div class="modal-title c-male">
  {{ editData ? "Actualizar" : "Crear" }} registro
</div>

<form [formGroup]="registroForm" class="row g-3">

  <ng-container>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">title</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Nombre</label>
          <input type="text"
                class="form-control cli-input-white"
                placeholder="RPA-PER-CAPL"
                formControlName="nombre"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">delete</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Código</label>
          <input type="text"
                class="form-control cli-input-white"
                placeholder="HISPAM-2201-1"
                formControlName="codigo"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">clear</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>VP</label>
          <select class="cli-input-white"
                    formControlName="vp">
              <option value="0" disabled>-Seleccionar-</option>
              <option value="1">José Vilcarromero</option>
              <option value="2">Dagoberto Riva</option>
              <option value="3">Raquel Melendez</option>
              <option value="4">Wilmer Cordova</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">start</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Gerencia Solicitante</label>
            <select class="cli-input-white"
                    formControlName="gerenc_sol">
              <option value="0" disabled>-Seleccionar-</option>
              <option value="1">José Vilcarromero</option>
              <option value="2">Dagoberto Riva</option>
              <option value="3">Raquel Melendez</option>
              <option value="4">Wilmer Cordova</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>PO del proyecto</label>
            <select class="cli-input-white" formControlName="po">
              <option value="0" disabled>-Seleccionar-</option>
              <option value="1">José Vilcarromero</option>
              <option value="2">Dagoberto Riva</option>
              <option value="3">Raquel Melendez</option>
              <option value="4">Wilmer Cordova</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Responsable</label>
          <select class="cli-input-white" formControlName="responsable">
          <option value="0" disabled>-Seleccionar-</option>
          <option value="1">José Vilcarromero</option>
          <option value="2">Dagoberto Riva</option>
          <option value="3">Raquel Melendez</option>
          <option value="4">Wilmer Cordova</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Gerencia beneficiaria</label>
          <select class="cli-input-white" formControlName="gerenc_ben">
          <option value="0" disabled>-Seleccionar-</option>
          <option value="1">Externa</option>
          <option value="2">Internas (Líderes)</option>
          <option value="3">Internas (Contribuidores)</option>
          <option value="4">Mixta</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>PLANNER</label>
          <select class="cli-input-white" formControlName="planner">
          <option value="0" disabled>-Seleccionar-</option>
          <option value="1">Externa</option>
          <option value="2">Internas (Líderes)</option>
          <option value="3">Internas (Contribuidores)</option>
          <option value="4">Mixta</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Controller Gerencia beneficiaria</label>
          <select class="cli-input-white" formControlName="control_gerenc">
          <option disabled value="0">-Seleccionar-</option>
          <option value="1">Externa</option>
          <option value="2">Internas (Líderes)</option>
          <option value="3">Internas (Contribuidores)</option>
          <option value="4">Mixta</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Controller Aprob. BC</label>
          <select class="cli-input-white" formControlName="control_aprob">
          <option value="0" disabled>-Seleccionar-</option>
          <option value="1">Externa</option>
          <option value="2">Internas (Líderes)</option>
          <option value="3">Internas (Contribuidores)</option>
          <option value="4">Mixta</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Tecnología solución</label>
          <select class="cli-input-white" formControlName="tecnologia">
          <option value="0" disabled>-Seleccionar-</option>
          <option value="1">Externa</option>
          <option value="2">Internas (Líderes)</option>
          <option value="3">Internas (Contribuidores)</option>
          <option value="4">Mixta</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Licencias BP</label>
          <input type="email" class="form-control" formControlName="licencias"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Naturaleza del Beneficio</label>
          <select class="cli-input-white" formControlName="naturaleza">
          <option value="0" disabled>-Seleccionar-</option>
          <option value="1">Externa</option>
          <option value="2">Internas (Líderes)</option>
          <option value="3">Internas (Contribuidores)</option>
          <option value="4">Mixta</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>



  <div class="cli-form-buttons">
    <button class="cli-btn btn-m btn-grey"
            (click)="close()">
            <mat-icon class="icon-18">cancel</mat-icon> Limpiar
    </button>
    <button class="cli-btn btn-m btn-blue"
            (click)="crearRegistro()"
            [disabled]="registroForm.invalid"
            >
            <mat-icon>save</mat-icon> {{ actionBtn }}
    </button>
  </div>
</form>
