<button (click)="close()" class="icon-btn btn-trans c-orange">
  <mat-icon>close</mat-icon>
</button>

<div class="modal-title c-male">
  {{ editData ? "Actualizar" : "Crear" }} registro
</div>

<form [formGroup]="registroForm" class="row g-3">

  <ng-container>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">title</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Nombre</label>
          <input type="text"
                class="form-control cli-input-white"
                placeholder="RPA-PER-CAPL"
                formControlName="Nombre"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">delete</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Código</label>
          <input type="text"
                class="form-control cli-input-white"
                placeholder="HISPAM-2201-1"
                formControlName="Codigo"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">clear</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>VP</label>
          <select class="cli-input-white" formControlName="VP" #selectVp (change)="getListaVP(selectVp.value)">
              <option [value]="0" disabled>-Seleccionar-</option>
              <option [value]="vp.id" *ngFor="let vp of listVP">{{vp.nombre}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">start</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Gerencia Solicitante</label>
            <!-- <select class="cli-input-white" formControlName="Gerencia_Solicitante" #selectGerenc (change)="getListGerencia(selectGerenc.value)"> -->
            <select class="cli-input-white" formControlName="Gerencia_Solicitante">
              <option [value]="0" disabled>-Seleccionar-</option>
              <option [value]="gerenc.id" *ngFor="let gerenc of listGerencia">{{gerenc.nombre}}</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>PO del proyecto</label>
          <input type="text"
          class="form-control cli-input-white"
          placeholder="RPA-PER-CAPL"
          formControlName="PO_Proyecto"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Responsable</label>
          <input type="text"
            class="form-control cli-input-white"
            placeholder="RPA-PER-CAPL"
            formControlName="Responsable"/>
        </div>
      </div>
    </div>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Gerencia beneficiaria</label>
            <!-- <select class="cli-input-white" formControlName="Gerencia_Solicitante" #selectGerenc (change)="getListGerencia(selectGerenc.value)"> -->
            <select class="cli-input-white" formControlName="Gerencia_Beneficiaria">
              <option [value]="0" disabled>-Seleccionar-</option>
              <option [value]="gerenc.id" *ngFor="let gerenc of listGerencia">{{gerenc.nombre}}</option>
            </select>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>PLANNER</label>
            <input type="text"
            class="form-control cli-input-white"
            placeholder="RPA-PER-CAPL"
            formControlName="Planner"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Controller Gerencia beneficiaria</label>
          <input type="text"
            class="form-control cli-input-white"
            placeholder="RPA-PER-CAPL"
            formControlName="Controller_Ger_Ben"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Controller Aprob. BC</label>
          <select class="cli-input-white" formControlName="Controller_Aprob_BC">
          <option value="0" disabled>-Seleccionar-</option>
          <option value="1">Externa</option>
          <option value="2">Internas (Líderes)</option>
          <option value="3">Internas (Contribuidores)</option>
          <option value="4">Mixta</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Tecnología solución</label>
          <!-- <select class="cli-input-white" formControlName="Tecnologia" #selectTecnol (change)="getListaTecnologia(selectTecnol.value)"> -->
          <select class="cli-input-white" formControlName="Tecnologia">
          <option [value]="0" disabled>-Seleccione-</option>
          <option [value]="tecn.id" *ngFor="let tecn of tecnologias" >{{tecn.nombre}}</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Licencias BP</label>
          <input type="email" class="form-control" formControlName="Licencias"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3 cli-form-element">
      <div class="row form-group">
        <div class="col-lab-2">
          <mat-icon class="icon-18 icon-btn-label">flag</mat-icon>
        </div>
        <div class="form-group col-sm-10">
          <label>Naturaleza del Beneficio</label>
          <select class="cli-input-white" formControlName="Naturaleza" >
          <option [value]="0" disabled>-Seleccionar-</option>
          <option [value]="nat.id" *ngFor="let nat of naturaleza">{{nat.nombre}}</option>

          </select>
        </div>
      </div>
    </div>
  </ng-container>



  <div class="cli-form-buttons">
    <button class="cli-btn btn-m btn-grey"
            (click)="close()">
            <mat-icon class="icon-18">cancel</mat-icon> Limpiar
    </button>
    <button class="cli-btn btn-m btn-blue"
            (click)="crearRegistro()"
            [disabled]="registroForm.invalid"
            >
            <mat-icon>save</mat-icon> {{ actionBtn }}
    </button>
  </div>
</form>
