
<div class="cli-card fit-card">
  <div class="cli-card-body">
    <div class="cli-title c-male">Mantenimiento iniciativa</div>
    <div>
      <!-- BUSCADOR POR FILTRO -->
      <div class="card mt-5" style="border-radius: 2px; font-weight: 600">
        <div class="card-body">
          <form class="row g-3">
            <div class="col-sm-2 cli-form-element">
              <label for="inputEmail4" class="form-label">Nombre de Iniciativa</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="filtro.nombre"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="col-sm-2 cli-form-element">
              <label for="inputPassword4" class="form-label">Código de Iniciativa</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="filtro.codigo"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
            <div class="col-sm-3 cli-form-element">
              <label for="" class="form-label">Estado</label>
              <select
                class="form-select"
                [(ngModel)]="filtro.estado"
                [ngModelOptions]="{ standalone: true }"
                #state
                (change)="getInfoEstadoBuscar(state.value)"
              >
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="estado.idEstado" *ngFor="let estado of listEstados">
                  {{ estado.cNombre }}
                </option>
              </select>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label for="" class="form-label">Gerencia Beneficiaria</label>
              <select
                class="form-select"
                [(ngModel)]="filtro.gerencia_benef"
                [ngModelOptions]="{ standalone: true }"
                #gerency
                (change)="getInfoGerSolBuscar(gerency.value)"
              >
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="gerenc.id" *ngFor="let gerenc of listGerencia">
                  {{ gerenc.nombre }}
                </option>
              </select>
            </div>



            <div class="col-sm-2 cli-form-element">
              <label for="" class="form-label"
                >Naturaleza del Benef.</label
              >
              <select
                class="form-select"
                [(ngModel)]="filtro.naturaleza"
                [ngModelOptions]="{ standalone: true }"
                #naturalezax
                (change)="getInfoNaturalezaBuscar(naturalezax.value)"
              >
                <option [value]="0" disabled>--Seleccione--</option>
                <option [value]="nat.id" *ngFor="let nat of naturaleza">
                  {{ nat.nombre }}
                </option>
              </select>
            </div>

            <div class="col-sm-2 cli-form-elesksment">
              <div class="form-group">
                  <label>Fecha creación <span class="date-rango">(desde)</span></label>
                  <input type="date"
                  class="form-control"
                  [(ngModel)]="filtro.fechaCreacion"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>

            <div class="col-sm-2 cli-form-elesksment">
              <div class="form-group">
                  <label>Fecha creación <span class="date-rango">(hasta)</span></label>
                  <input type="date"
                  class="form-control"
                  [(ngModel)]="filtro.fechaFinalizacion"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>

            <div class="flex-1"></div>

            <!-- <div class="cli-table-actions"> -->

            <div class="cli-form-buttons">
              <button
                type="submit"
                class="cli-btn btn-grey mb-2"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="limpiarFiltro()">
                <mat-icon class="icon-18">rotate_left</mat-icon>
                Limpiar
              </button>

              <button
                type="submit"
                class="cli-btn btn-blue-light mb-2"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="buscarRegistro()"
              >
                <mat-icon class="icon-18">search</mat-icon>
                Buscar
              </button>
            </div>
          </form>
        </div>
      </div>





      <!-- BOTON MODAL PARA CREAR REGISTRO -->
      <div style="display: flex" class="mt-5">
        <button
          data-toggle="modal"
          data-target="#modalCrearRegistro"
          class="cli-btn btn-magenta mb-2"
          type="button"
        >
          <mat-icon class="icon-18">add</mat-icon>Crear iniciativa
        </button>
        <div class="flex-1"></div>
        <h3 class="card-subtitlte" style="color: #3b4ef6">
          Total :
          <span style="color: #adb0b2; font-size: 20px; font-weight: 500">
            {{ registros.length}} registros</span
          >
        </h3>
      </div>

      <!-- TABLA DE REGISTROS -->
      <div style="overflow: auto; min-height: 300px">
        <table class="cli-table stripedtable underlinedtable">
          <thead>
            <tr class="bgc-blue c-white">
              <th>Acción</th>
              <th>ID</th>
              <th>Nombre de Iniciativa</th>
              <th>Código de Iniciativa</th>
              <th>Estado</th>
              <th>PO del Proyecto</th>
              <th>Gerencia Beneficiaria</th>
              <th>Naturaleza</th>
              <th>Fecha creación</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="
                let registro of registros | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: totalBandeja }">
              <td>
                <div class="cli-table-actions">
                  <button
                    matTooltip="Editar"
                    class="icon-btn btn-trans c-blue"
                    (click)="editarIniciativa(registro.idIniciativa)"
                   ><mat-icon class="icon-18">edit</mat-icon>
                 </button>
                  <button
                    matTooltip="Eliminar"
                    class="icon-btn btn-trans c-fucsia"
                    (click)="eliminarRegistro(registro.idIniciativa)"
                  ><mat-icon class="icon-18">delete_forever</mat-icon>
                  </button>
                </div>
              </td>
              <td>{{ registro.idIniciativa }}</td>
              <td style="width: 135px; height: 68px;">{{ registro.nombre }}</td>
              <td style="width: 135px; height: 68px;">{{ registro.codigo }}</td>
              <td>{{ registro.estado }}</td>
              <td>{{ registro.po_proyecto }}</td>
              <td>{{ registro.gerencia_beneficiaria }}</td>
              <td>{{ registro.naturaleza }}</td>
              <td>{{ registro.fecha_creacion }}</td>
            </tr>
          </tbody>
        </table>

        <div class="cli-loader" *ngIf="loadingItem">
          <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>
          cargando...
        </div>

        <!-- <ngx-spinner
          bdColor="rgba(0, 0, 0, 0.8)"
          size="medium"
          color="#fff"
          type="square-jelly-box"
          [fullScreen]="true"
        >
          <p style="color: rgb(18, 201, 76)">Loading...</p>
        </ngx-spinner> -->

        <div *ngIf="!loadingItem && registros.length == 0" class="cli-loader mt-5" style="color: red">
          No hay registros para mostrar
        </div>
      </div>
    </div>

    <div class="card-footer pb-0 pt-3">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="false"
        (pageChange)="cambiarPagina($event)"
      >
      </pagination-controls>
    </div>
  </div>
</div>

<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <p style="color: white">Cargando...</p>
</ngx-spinner> -->






<!-- MODAL CREAR REGISTRO #modalCrearRegistro -->
<div
  class="modal fade"
  id="modalCrearRegistro"
  tabindex="-1"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div
        class="modal-header modal-title"
        style="border-bottom: none"
        id="myLargeModalLabel"
      >
        <div class="modal-title"></div>
        <button
          #cerrarModal
          type="button"
          data-dismiss="modal"
          aria-label="Close"
          class="close icon-btn btn-trans c-orange"
          (click)="limpiarCrearIniciativa()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <h5 class="modal-title-inic c-male">Crear registro</h5>

      <div
        class="cli-form newvac-wrapper"
        style="width: 90%"
      >
          <form class="row g-3">
            <ng-container>
              <div class="col-sm-4 cli-form-element">
                <div class="form-group col-sm-9x">
                  <label>Nombre de Iniciativa</label>
                  <input
                    type="text"
                    class="form-control cli-input-white"
                    placeholder="RPA-PER-CAPL"
                    [(ngModel)]="datosRegistroAgregar.nombre"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
              </div>

              <div class="col-sm-4 cli-form-element">
                <label>Código de Iniciativa</label>
                <input
                  type="text"
                  class="form-control cli-input-white"
                  placeholder="HISPAM-2201-1"
                  [(ngModel)]="datosRegistroAgregar.codigo"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>


              <div class="col-sm-4 cli-form-element">
                <label>Estado</label>
                <select
                  class="cli-input-white"
                  [(ngModel)]="datosRegistroAgregar.estado"
                  [ngModelOptions]="{ standalone: true }"
                  #estadox
                  (change)="getInfoEstados(estadox.value)"
                > <option [value]="0" disabled>-Seleccionar-</option>
                  <option [value]="estado.idEstado"
                    *ngFor="let estado of listEstados">
                    {{ estado.cNombre }}
                  </option>
                </select>
              </div>

              <div class="col-sm-4 cli-form-element">
                <label>PO del proyecto</label>
                <input
                  type="text"
                  class="form-control cli-input-white"
                  [(ngModel)]="datosRegistroAgregar.po_proyecto"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>

              <div class="col-sm-4 cli-form-element">
                <label>Gerencia Beneficiaria</label>
                <select
                  class="cli-input-white"
                  [(ngModel)]="datosRegistroAgregar.gerencia_beneficiaria"
                  [ngModelOptions]="{ standalone: true }"
                  #selectGerenc
                  (change)="getInfoGerSol(selectGerenc.value)"
                >
                  <option [value]="0" disabled>-Seleccionar-</option>
                  <option
                    [value]="gerenc.id"
                    *ngFor="let gerenc of listGerencia"
                  >
                    {{ gerenc.nombre }}
                  </option>
                </select>
              </div>


              <div class="col-sm-4 cli-form-element">
                <label>Naturaleza del Beneficio</label>
                <select
                  class="cli-input-white"
                  [(ngModel)]="datosRegistroAgregar.naturaleza"
                  [ngModelOptions]="{ standalone: true }"
                  #naturalezaX
                  (change)="getInfoNaturaleza(naturalezaX.value)"
                >
                  <option [value]="0" disabled>-Seleccionar-</option>
                  <option [value]="nat.id" *ngFor="let nat of naturaleza">
                    {{ nat.nombre }}
                  </option>
                </select>
              </div>
            </ng-container>

            <div class="cli-form-buttons" style="margin-top: 100px;">
              <button
                class="cli-btn btn-m btn-grey"
                type="button"
                data-dismiss="modal"
              >
                <mat-icon class="icon-18">cancel</mat-icon> Salir
              </button>
              <button
                #btnRegistrarRegistro
                class="cli-btn btn-m btn-magenta"
                (click)="agregarRegistro()"
              >
                <mat-icon>save</mat-icon> Registrar
              </button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>




