<div class="cli-card">
    <div  class="cli-card-body">
        <div class="cli-title-center c-male">Solicitudes con acción requerida</div>
        <table class="cli-table stripedtable underlinedtable" >
            <thead>
                <tr class="bgc-blue c-white">
                    <th>Registro</th>
                    <th>Informador</th>
                    <th>Título</th>
                    <th>Workstream</th>
                    <th>Tipo</th>
                    <th>Nueva</th>
                    <th>Business Case</th>
                    <th>Acción requerida</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="!loadingInbox">
                <tr *ngFor="let ib of inbox">
                    <td>{{ib.createdat}}</td>
                    <td>{{ib.informer}}</td>
                    <td>REQ-{{ib.id}}: {{ib.position}}</td>
                    <td>{{ib.workstream}}</td>
                    <td>{{ib.type.nombre}}</td>
                    <td>{{ib.flagnew?"Nueva":"Existente"}}</td>
                    <td>{{ib.informer}}</td>
                    <td>Aprobación en {{ib.filteraprob}}</td>
                    <td>
                        <div class="cli-table-actions">
                            <button (click)="showDetails(ib.id)"  matTooltip="Ver detalle" class="icon-btn btn-trans btn-trans c-green"> <mat-icon class="icon-18">visibility</mat-icon> </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="loadingInbox" class="cli-loader">
            <mat-spinner style="margin-left: 20px;" diameter="20"></mat-spinner>
            Preparando...
        </div>
        <div *ngIf="!loadingInbox && inbox.length == 0" class="cli-loader" >Su bandeja está vacía</div>
    </div>
</div>
