/* GLOBAL COLORES*/
.c-female{
    color: $color-magenta;
}
.c-male{
    color: $color-blue;
}
.c-darkblue{
    color: $color-secondary;
}
.c-green{
    color: $color-green;
}
.c-yellow{ 
    color: $color-yellow;
}
.c-orange{ 
    color: $color-orange;
}
.c-dark{
    color: $color-grey-6;
}
.c-light{
    color: $color-grey-4;
}
.c-white{ 
    color: #fff;
}
/* FONDOS GLOBALES */
.bgc-magenta{
    background-color: $color-magenta
}
.bgc-blue{
    background-color: $color-blue;
}
.bgc-green{
    background-color: $color-green;
}
.bgc-yellow{ 
    background-color: $color-yellow;
}
.bgc-purple{ 
    background-color: $color-purple;
}
.bgc-orange{ 
    background-color: $color-orange;
}

.bgc-grey{ 
    background-color: $color-grey-4;
}